main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.nav-bar{
  text-align: center;
}

.box {
  
  /*text-align: center;*/
  padding-top: 30px;
  margin-top:10px;
  border: 1px solid lightgray;
}


.checked {
    color: orange;
  }

.book-title{
  background-color:gray;
  color:black;
  height:30px;
  border-radius:5px 5px 0px 0px;
}

ul{
  margin-right:40px;
}

.expanded{
  list-style-type:none;
  border:1px solid lightgray;
  min-height:100px;
  border-radius:5px;
  margin-bottom:20px;

}

.bookmark-visit-site{
  text-align: left;
  margin-left:10px;
}

li {
  list-style-type:none;
  border:1px solid lightgray;
  
  border-radius:5px;
  margin-bottom:20px;

}

.edit-box{
  height:auto;
}

button{
  font-size:15px;
}
.expand-footer{
  display:flex;
  justify-content: space-between;
  margin:1em;
 
  
}

.edit-bookmark-expand{
  min-height:300px;
  
}

.book-star-rating{

text-align: right;
  
}

.star-rating{
  
  
  
  
}

.book-title{
  position: relative;
}

.fa-expand{
  margin-right:10px;
  padding-bottom:10px;
}

.title{
  position: absolute;
  top:25%;
  left:3%;
}

li .bookmark-expand-delete{
  text-align: right;
  
  position: absolute;
  top:30%;
  right:2%;
  
  
}




.hidden{
  display:none;
}

.black {
  background-color: black;
  color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.blue {
  background-color: blue;
}